In [31]:
BASE_URL = "https://www.otodom.pl"
SEARCH_URL = BASE_URL + "/pl/wyniki/sprzedaz/mieszkanie/malopolskie/krakow/krakow/krakow?viewType=listing&page="
ulr = SEARCH_URL + "1"
print(ulr)

https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie/malopolskie/krakow/krakow/krakow?viewType=listing&page=1

In [50]:
import requests
from bs4 import BeautifulSoup

def load_page(url: str) -> BeautifulSoup:
    res = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})
    res.raise_for_status()
    soup = BeautifulSoup(res.text, 'html.parser')
    return soup

def get_links_for_search_page(n: int) -> list[str]:
    url = SEARCH_URL + str(n)
    soup = load_page(url)
    links = [BASE_URL + a['href'] for a in soup.find_all('a', attrs={'data-cy': 'listing-item-link'})]
    return links

In [51]:
links = get_links_for_search_page(1)
links[2]

'https://www.otodom.pl/pl/oferta/mieszkanie-3-pokoje-krakow-krowodrza-lea-od-zaraz-ID4tq97'

In [53]:
def extract_data(soup: BeautifulSoup):
    name = soup.find('h1', attrs={'data-cy': 'adPageAdTitle'}).text
    price = soup.find('strong', attrs={'aria-label': 'Cena'}).text
    area = soup.find('div', attrs={'class': 'css-1ftqasz'}).text
    data = {'name': name, 'price': price, 'area': area}
    return data

In [59]:
import pandas as pd

df = pd.DataFrame(columns=['name', 'price', 'area'])
data_list = []
for link in links:
    soup = load_page(link)
    data = extract_data(soup)
    data_list.append(data)
df = pd.concat([df, pd.DataFrame(data_list)], ignore_index=True)

In [60]:
df

,name,price,area
0,"570 tys zł, Trzypokojowe,Powstańców.P.Czerwony..",570 000 zł,45.86m²
1,Gotowa kawalerka do zamieszkania / Centrum / UEK,285 000 zł,15.7m²
2,Mieszkanie 3 pokoje Kraków Krowodrza Lea od zaraz,995 000 zł,49m²
3,4-pokojowe mieszkanie 79m2 + taras Bez Pośredn...,1 549 000 zł,79.66m²
4,7-pokojowe mieszkanie 171m2 + 2 ogródki,1 949 000 zł,171.89m²
5,4-pokojowe mieszkanie 101m2 + 2 balkony,1 456 169 zł,101.83m²
6,3-pokojowe mieszkanie 69m2 + balkon Bez Prowizji,Zapytaj o cenę,69.74m²
7,4-pokojowe mieszkanie 66m2 + ogródek Bez Prowizji,Zapytaj o cenę,66.7m²
8,4-pokojowe mieszkanie 75m2 + balkon Bez Prowizji,1 037 127 zł,75.98m²
9,Ul. Rydlówka | 2 Pokoje+Aneks | Ogródek| 36M2!,639 000 zł,36m²
10,Mieszkanie 3 pokoje parter Kraków Tysiąclecia,650 000 zł,47.7m²
11,"Ul. Rydlówka | 4 Pokoje+Aneks | Garaż | 56,1M2",919 000 zł,56.08m²
12,Ul. Jaworowa | 3 Pokoje+Aneks | Wykończone| 54M2!,709 000 zł,54m²
13,ENG | 3 pokoje | loggia | klimatyzacja | słone...,1 100 000 zł,57.52m²
14,"Os. AVIA – 60 m²- 3 pokoje, 2 łazienki",890 000 zł,60.5m²
15,Ul. Lublańska | 2 Pokoje + Aneks | Garaż | 40 M2!,715 000 zł,40m²
16,2-pokojowe mieszkanie 43m2 + balkon Bez Prowizji,Zapytaj o cenę,43.47m²
17,5-pokojowy apartament 211m2 + loggia,7 416 150 zł,211.89m²
18,4-pokojowe mieszkanie 66m2 + balkon,865 410 zł,66.57m²
19,5-pokojowe mieszkanie 113m2 + 2 balkony,Zapytaj o cenę,113.23m²
20,4-pokojowe mieszkanie 79m2 + taras Bez Pośredn...,1 549 000 zł,79.66m²