In [17]:
import pandas as pd

filename = '../model/data/lux_district_train.csv'
df = pd.read_csv(filename, sep=',')

df = df[df['luxury_level'] >= 0]
df = df[df['price'] >= 0]
df = df[df['area'] >= 0]
df.describe()

,area,build_year,building_floors,distance_from_center,distance_from_other_expensive,floor,location_lat,location_lon,luxury_level,price,price_m2,rooms,utilities_balkon,utilities_oddzielna kuchnia,utilities_piwnica,utilities_pom. u≈ºytkowe,utilities_taras,utilities_winda
count,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,3.040000e+02,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000,304.000000
mean,51.341184,1998.154605,4.986842,4.854889,5.070445,2.532895,50.056363,19.961085,6.078947,7.660083e+05,15170.514048,2.437500,0.651316,0.351974,0.467105,0.141447,0.095395,0.467105
std,17.119816,28.953344,3.216063,2.282468,2.574713,2.344625,0.032448,0.051549,1.842033,2.550674e+05,2824.314841,0.938387,0.477340,0.478373,0.499739,0.349057,0.294244,0.499739
min,15.900000,1900.000000,1.000000,0.528248,0.425505,0.000000,49.977213,19.843990,1.000000,1.790000e+05,7997.512438,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.737500,1979.750000,3.000000,3.449633,3.156386,1.000000,50.023700,19.918490,4.750000,5.900000e+05,12964.166667,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,49.255000,2008.000000,4.000000,4.811463,4.800648,2.000000,50.063069,19.960254,6.000000,7.279925e+05,14930.072367,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,60.752500,2021.000000,6.000000,6.107502,6.676703,4.000000,50.084179,19.994511,8.000000,8.705000e+05,16911.924552,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,120.600000,2027.000000,40.000000,14.414329,15.026411,10.000000,50.117880,20.140287,9.000000,1.550000e+06,22984.395319,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
import sys
sys.path.append('../backend')

from model import model

In [19]:
data = [[1.00000000e+00, 3.30000000e+01, 2.00000000e+03, 4.00000000e+00,
  4.33340817e-01, 1.27993694e+00, 3.00000000e+00, 0.00000000e+00,
  0.00000000e+00, 5.00578802e+01, 1.99440890e+01, 1.00000000e+00,
  0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
  0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
  0.00000000e+00,]]
model._model.predict(data)

array([744740.9], dtype=float32)

In [20]:
import numpy as np

row = df.iloc[0]
features = model._model.get_booster().feature_names
n_features = len(features)
data_array = np.zeros([n_features])

form_data = {}
# Categorical features
form_data["ad_type"] = model._map("ad_type", row['ad_type'])
form_data["heating"] = model._map("heating", row['heating'])
form_data["location_district"] = model._map("location_district", row['location_district'])
form_data["market"] = model._map("market", row['market'])
form_data["ownership"] = model._map("ownership", row['ownership'])
form_data["state"] = model._map("state", row['state'])


form_data["area"] = row['area']
form_data["build_year"] = row['build_year']
form_data["building_floors"] = row['building_floors']
form_data["floor"] = row['floor']

form_data["location_lat"] = row['location_lat']
form_data["location_lon"] = row['location_lon']
form_data["rooms"] = row['rooms']
form_data["utilities_balkon"] = int(row['utilities_balkon'])
form_data["utilities_oddzielna kuchnia"] = int(row['utilities_oddzielna kuchnia'])
form_data["utilities_piwnica"] = int(row['utilities_piwnica'])
form_data["utilities_pom. u≈ºytkowe"] = int(row['utilities_piwnica'])
form_data["utilities_taras"] = int(row['utilities_balkon'])
form_data["utilities_winda"] = int(row['utilities_winda'])
# TODO: available in frontend but not used: available from
form_data["distance_from_center"] = row['distance_from_center']
form_data["distance_from_other_expensive"] = row['distance_from_other_expensive']

# Fill data_array with values from form_data using fetures array
for i, feature in enumerate(features):
    if feature in form_data:
        data_array[i] = form_data[feature]
    else:
        raise ValueError(f"Feature '{feature}' not found in form_data")

# Reshape the 1D array to a 2D array (1 x 38) as required by XGBoost
data_array = np.reshape(data_array, (1, -1))
print(data_array)

[[0.00000000e+00 3.49700000e+01 1.93400000e+03 4.00000000e+00
  9.15631068e-01 6.88603759e-01 3.00000000e+00 4.00000000e+00
  1.50000000e+01 5.00632200e+01 1.99392400e+01 1.00000000e+00
  0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  1.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
  1.00000000e+00]]

In [22]:
model._model.predict(data_array)

array([745042.25], dtype=float32)