In [ ]:
import pandas as pd

filename = '../model/data/lux_district_test.csv'
df = pd.read_csv(filename, sep=',')

df = df[df['luxury_level'] >= 0]
df = df[df['price'] >= 0]
df = df[df['area'] >= 0]
df = df[df['ownwership'] != '']
df.describe()

,area,build_year,building_floors,distance_from_center,distance_from_other_expensive,floor,location_lat,location_lon,luxury_level,price,price_m2,rooms,utilities_balkon,utilities_oddzielna kuchnia,utilities_piwnica,utilities_pom. u≈ºytkowe,utilities_taras,utilities_winda
count,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,7.500000e+01,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000
mean,52.495067,1991.840000,4.920000,4.602221,4.784813,2.346667,50.057231,19.958456,6.400000,7.995419e+05,15425.683161,2.466667,0.586667,0.360000,0.466667,0.146667,0.066667,0.453333
std,19.986212,34.721689,2.664887,2.039144,2.352685,1.996574,0.032695,0.045576,1.755301,2.950074e+05,2730.663582,0.990950,0.495748,0.483232,0.502247,0.356156,0.251124,0.501170
min,14.600000,1887.000000,1.000000,0.642197,0.344797,0.000000,50.003969,19.888237,2.000000,1.850000e+05,10609.756098,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.965000,1967.500000,3.000000,3.071404,2.837714,1.000000,50.020710,19.922606,5.000000,6.200680e+05,13468.590380,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,51.400000,2004.000000,4.000000,4.722762,4.915656,2.000000,50.066625,19.954885,7.000000,7.790000e+05,15099.792223,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,62.480000,2019.000000,6.000000,5.842241,6.545138,3.000000,50.082698,19.995678,8.000000,9.393230e+05,17338.452920,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,124.000000,2026.000000,15.000000,9.246295,10.396055,9.000000,50.109467,20.056497,9.000000,1.550000e+06,21717.670286,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
import sys
sys.path.append('../backend')

from model import model

>>> Model loaded successfully.

In [3]:
data = [[1.00000000e+00, 3.30000000e+01, 2.00000000e+03, 4.00000000e+00,
  4.33340817e-01, 1.27993694e+00, 3.00000000e+00, 0.00000000e+00,
  0.00000000e+00, 5.00578802e+01, 1.99440890e+01, 1.00000000e+00,
  0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
  0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
  0.00000000e+00,]]
model._model.predict(data)

array([744740.9], dtype=float32)

In [ ]:
import numpy as np

row = df.iloc[0]
features = model._model.get_booster().feature_names
n_features = len(features)
data_array = np.zeros([n_features])

form_data = {}
# Categorical features
form_data["ad_type"] = model._map("ad_type", row['ad_type'])
form_data["heating"] = model._map("heating", row['heating'])
form_data["location_district"] = model._map("location_district", row['location_district'])
form_data["market"] = model._map("market", row['market'])
form_data["ownership"] = model._map("ownership", row['ownership'])
form_data["state"] = model._map("state", row['state'])


form_data["area"] = row['area']
form_data["build_year"] = row['build_year']
form_data["building_floors"] = row['building_floors']
form_data["floor"] = row['floor']

form_data["location_lat"] = row['location_lat']
form_data["location_lon"] = row['location_lon']
form_data["rooms"] = row['rooms']
form_data["utilities_balkon"] = int(row['utilities_balkon'])
form_data["utilities_oddzielna kuchnia"] = int(row['utilities_oddzielna kuchnia'])
form_data["utilities_piwnica"] = int(row['utilities_piwnica'])
form_data["utilities_pom. u≈ºytkowe"] = int(row['utilities_piwnica'])
form_data["utilities_taras"] = int(row['utilities_balkon'])
form_data["utilities_winda"] = int(row['utilities_winda'])
# TODO: available in frontend but not used: available from
form_data["distance_from_center"] = row['distance_from_center']
form_data["distance_from_other_expensive"] = row['distance_from_other_expensive']

# Fill data_array with values from form_data using fetures array
for i, feature in enumerate(features):
    if feature in form_data:
        data_array[i] = form_data[feature]
    else:
        raise ValueError(f"Feature '{feature}' not found in form_data")

# Reshape the 1D array to a 2D array (1 x 38) as required by XGBoost
data_array = np.reshape(data_array, (1, -1))
print(data_array)

[[0.00000000e+00 3.36900000e+01 2.02600000e+03 3.00000000e+00
  4.34435719e+00 3.16009505e+00 1.00000000e+00 4.00000000e+00
  1.20000000e+01 5.00934100e+01 1.99288600e+01 0.00000000e+00
             nan 2.00000000e+00            nan 1.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 1.00000000e+00
  1.00000000e+00]]

In [ ]:
model.predict_raw(data_array)

array([745042.25], dtype=float32)